.header-container {
    display: flex;
    justify-content: space-between;
    max-height: 96px;
    padding: 24px 80px 24px 80px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.35);
    .header-logo-container {
        width: 212px;
        img {
            margin-top: 8px;
        }
    }
    .header-search-container {
        width: 100%;
    }
    .header-cart-container {
        button {
            text-align: center;
            cursor: pointer;
            background: transparent;
            border: 1px solid #B0B0B0;
            box-sizing: border-box;
            border-radius: 4px;
            width: 120px;
            height: 48px;
            font-style: normal;
            font-weight: normal;
            font-size: 17px;
            line-height: 24px;
            color: #B0B0B0;
        }
    }
}