.card-container {
  border: 1px solid #E5E5E5;
  border-radius: 8px;
  cursor: pointer;
  padding: 5px 15px 5px 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 465px;

  img {
    flex: 4;
  }

  .card-description {
    position: relative;
    flex: 1;
    justify-content: flex-start;
    text-align: left;

    h1 {
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 18px;
      color: #484848;
      margin: 0;
    }

    div {
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 18px;
      color: #484848;

      span {
        font-weight: bold;
      }
    }

    .price {
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 18px;
      color: #000000;
    }

    .old-price-row {
      font-style: normal;
      font-weight: normal;
      font-size: 13px;
      line-height: 18px;
      color: #9B9B9B;

      .old-price {
        text-decoration-line: line-through;
      }

      .sale {
        margin-left: 5px;
        color: red;
        text-decoration: none;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 18px;
      }
    }

    .add-button {
      position: absolute;
      bottom: 0;
      cursor: pointer;
      border: none;
      padding: 10px;
      border-radius: 8px;
      width: 100%;
      background: #f8cfb8;
      color: orangered;
      margin-top: auto;
    }

    .remove-button {
      position: absolute;
      bottom: 0;
      cursor: pointer;
      border: none;
      padding: 10px;
      border-radius: 8px;
      width: 100%;
      background: darkgrey;
      color: gray;
      margin-top: auto;
    }
  }
}
