.App {
  text-align: center;
  .content-container {
    padding: 17px 80px 17px 80px;
    .content-header-row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .content-header-title {
        h1 {
          text-align: left;
          margin: 0;
          font-style: normal;
          font-weight: bold;
          font-size: 28px;
          line-height: 100%;
          color: #484848;
        }
        h2 {
          margin: 0;
          font-style: normal;
          font-weight: normal;
          font-size: 15px;
          line-height: 100%;
          display: flex;
          align-items: center;
          color: #B0B0B0;
          span {
            color: black;
          }
        }
      }
    }
    .content-body {
      display: flex;
      flex-direction: row;
      margin-top: 20px;
      .content-left {
        flex: 1;
      }
      .content {
        flex: 4;
        display: flex;
        flex-direction: column;
        .content-items {
          display: grid;
          grid-gap: 20px;
          grid-template-columns: repeat(4, 1fr);
          @media (max-width: 1400px) {
            grid-template-columns: repeat(2, 1fr);
          }
        }
      }
    }
  }
}
